{% for opt in __postfix_config_merged | sort %}
{% set val = __postfix_config_merged[opt] %}
{% if val is not none %}
{% set val = 'yes' if val == true else ('no' if val == false else val) %}
{{ opt }} = {{ val }}
{% endif %}
{% endfor %}
