{% for opt in __postfix_config_merged | sort %}
{% set val = __postfix_config_merged[opt] %}
{% if val is not none %}
{{ opt }} = {{ 'yes' if val == true else ('no' if val == false else val) }}
{% endif %}
{% endfor %}
